@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
body{
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Poetsen One';
    overflow: hidden;
    background: whitesmoke;

}
.nav {
    height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	width: 100%;
    position: fixed;
    z-index: 10;
}
.imgLogo{
	width: 50px;
}
.navPaginas{
	margin: 0 15px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	color: #000000;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s ease;
	border-bottom: 2px solid transparent;
}
#pagina1:hover{
	font-size: 20px;
	color: #fd2828;
}
#pagina2:hover{ 
	font-size: 20px;
	color: #43f561;
}
#pagina3:hover{ 
	font-size: 20px;
	color: #ff9c1a;
}
#pagina4:hover{ 
	font-size: 20px;
	color: #5589ff;
}
.window1{
    position: relative;
    /* top: 140px; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal1{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff91;
}
.modal2{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff91;
}
.modal3{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff91;
}
.modal4{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff91;
}
.modal5{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff91;
}
.modal6{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff91;
}
.modal7{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff91;
}
.modal8{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff91;
}
.tirarModal{
    cursor: pointer;
    position: relative;
    bottom: 90px;
    left: 14rem;
    width: 30px;
    height: 30px;
    background: url(../IMG/BotaoFechar.png);
    background-size: 30px;
    background-repeat: no-repeat;
}
.contentModal{
    background-color: #f1f1f1;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagina{
    position: relative;
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    margin-top: 2rem;
}
.flexPassoText{
    display: flex;
    flex-direction: column ;
    gap: 10px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 75%;
}
.cards img{
    width: 15%;
}
.molduraImg{
    width: 120px;
    height: 120px;
    background-color: #9bb6f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.molduraImg img{
    width: 100px;
}
#passo1{
    display: flex;
    background-color: rgb(29, 95, 250);
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 85%;
    gap: 35px;
    height: 80vh;

}
.contentProximoPasso1{
    display: none;
}
.botaoDuvida1{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    width: 95%;
    height: 37px;
    padding: 3px;
    border-radius: 4px;
    background-color: #43f561;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s all ease;
}

#passo2{
    background-color: rgb(29, 95, 250);
    display: none;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 85%;
    gap: 35px;
    height: 80vh;
}
.contentProximoPasso2{
    display: none;
}
.botaoDuvida2{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    width: 95%;
    height: 37px;
    padding: 3px;
    border-radius: 4px;
    background-color: #43f561;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s all ease;
}



#passo3{
    display: none;
    background-color: #fd2828;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 85%;
    gap: 35px;
    height: 80vh;
}
.contentProximoPasso3{
    display: none;
}
.botaoDuvida3{
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    background-color: #ff9c1a;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s all ease;
}


#passo4{
    display: none;
    background-color: #fd2828;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 85%;
    gap: 35px;
    height: 80vh;
}
.contentProximoPasso4{
    display: none;
}
.botaoDuvida4{
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    background-color: #ff9c1a;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s all ease;
}


#passo5{
    display: none;
    background-color: #ff9c1a;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 85%;
    gap: 35px;
    height: 80vh;
}
.contentProximoPasso5{
    display: none;
}
.botaoDuvida5{
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    background-color: #fd2828;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s all ease;
}

#passo6{
    display: none;
    background-color: #ff9c1a;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 85%;
    gap: 35px;
    height: 80vh;
}
.contentProximoPasso6{
    display: none;
}
.botaoDuvida6{
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    color: #fff;
    background-color: #fd2828;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s all ease;
}



#passo7{
    display: none;
    background-color: #30dd4d;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 85%;
    gap: 35px;
    height: 80vh;
}
.contentProximoPasso7{
    display: none;
}
.botaoDuvida7{
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    background-color: #5589ff;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s all ease;
}


#passo8{
    display: none;
    background-color: #30dd4d;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 85%;
    gap: 35px;
    height: 80vh;
}
.contentProximoPasso8{
    display: none;
    flex-direction: row;
}
.botaoDuvida8{
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    background-color: #5589ff;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s all ease;
}
.proximoPasso{
    position: relative;
    top: 0.5rem;
    display: flex;
    align-items: baseline;
    color: white;
    width: 100%;
}
.btnRetroceder{
    position: relative;
    top: 6px;
    font-size: 40px;
    cursor: pointer;
}
.btnAvancar{
    position: relative;
    top: 6px;
    font-size: 40px;
    cursor: pointer;
}

.textPasso{
    font-size: 15px;
    width: 250px;
    color: white;
    letter-spacing: 2px;
}

.duvida1{
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 10px 20px;
    margin: 5px;
    background: url(../IMG/Nivel1.png);
    background-repeat: no-repeat;
    background-size: 35px;
    cursor: pointer;
}
.btn1 {
    display: none;
}
.btn1:checked ~ .duvida1 {
    background: url(../IMG/Nivel1checked.png);
    background-repeat: no-repeat;
    background-size: 35px;
}  
.duvida2{
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 10px 20px;
    margin: 5px;
    background: url(../IMG/Nivel2.png);
    background-repeat: no-repeat;
    background-size: 35px;
    cursor: pointer;
}
.btn2 {
    display: none;
}
.btn2:checked ~ .duvida2 {
    background: url(../IMG/Nivel2checked.png);
    background-repeat: no-repeat;
    background-size: 35px;
}  
.duvida3{
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 10px 20px;
    margin: 5px;
    background: url(../IMG/Nivel3.png);
    background-repeat: no-repeat;
    background-size: 35px;
    cursor: pointer;
}
.btn3 {
    display: none;
}
.btn3:checked ~ .duvida3 {
    background: url(../IMG/Nivel3checked.png);
    background-repeat: no-repeat;
    background-size: 35px;
}  
.duvida4{
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 10px 20px;
    margin: 5px;
    background: url(../IMG/Nivel4.png);
    background-repeat: no-repeat;
    background-size: 35px;
    cursor: pointer;
}
.btn4 {
    display: none;
}
.btn4:checked ~ .duvida4 {
    background: url(../IMG/Nivel4checked.png);
    background-repeat: no-repeat;
    background-size: 35px;
}  
.duvida5{
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 10px 20px;
    margin: 5px;
    background: url(../IMG/Nivel5.png);
    background-repeat: no-repeat;
    background-size: 35px;
    cursor: pointer;
}
.btn5 {
    display: none;
}
.btn5:checked ~ .duvida5 {
    background: url(../IMG/Nivel5checked.png);
    background-repeat: no-repeat;
    background-size: 35px;
}  
.btnTerminei{
    position: relative;
    left: 12px;
    padding: 4px;
    border-radius: 6px;
    border: 2px solid #ff9c1a;
    background: #ffca85;
    color: #000000;
    transition: 0.3s ease;
    
}
.btnTerminei:hover{
    background: #ff4e4e;
    border: 2px solid #ff0000;
    color: #ffffff;

}
.legendaPasso{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    position: relative;
    left: 5px;
    bottom: 20px;
    color: #fff;
    font-size: 18px;
}
table {
    position: relative;
    /* bottom: rem; */
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: whitesmoke;
    width: 100%;
  
  }
  
  td  {
    border: 2px solid #000000;
    text-align: left;
    padding: 2px;
  }
  th {
    border: 2px solid #000000;
    text-align: left;
    padding: 2px;
    background-color: #000000;
    color: white;
    letter-spacing: 2px;
  }
.cardText span{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #fff;
    width: 150px;
}
.cardText img{
    width: 150px;
}
.popup {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    left: 14%;
    top: 24%;
    width: 30rem;
    height: 13rem;
    padding: 20px;
    background-color: #ffa646be;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
}

/* O botão de fechar (x) */
.close-popup {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 1rem;
    cursor: pointer;
}
#popupLink{
    z-index: 10;
    position: relative;
    left: 10rem;
    top: 12rem;
    cursor: pointer;
}
