@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body{
    background: url(../IMG/Fundo_1.png);
    background-repeat: repeat-y;
    background-size: 100rem;
  }
  *{
    font-family: 'Poetsen One';
    margin: 0;
    text-decoration: none;
  }
  .menu{
    top: 0;
   background-color: #5589ff;
   width: 18%;
   height: 100vh;
   position: absolute;
  }
  
  .menu h1{
    color: #ffff33;
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    font-size: 40px;
  }
  
  .separacao{
  background-color: #ffff33;
  height: 1.5px;
  width: 200px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 9px;
  }
  
  #menu-separacao{
    margin-left: 30px;
    color: #ffff33;
    font-size: small;
    font-weight: 100;
  }
  .flexNavBar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  
  }
  .outrasPaginas{
    width: 200px;
    text-decoration: none;
    font-weight:520 ;
    font-size: 18px;
    color: #000;
    cursor: pointer;
  }
  .outrasPaginas:hover{
    color: #fff;
    font-weight:530 ;
    transition: all 0.3s;
  
  }
  
  .btn-navbar img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  
  .hello{
    display: flex;
    font-size: 15px;
    flex-direction: column;
    margin-left: 35px;
    margin-bottom: 10px;
    margin-top: 17px;
    color: #000;
  
  }
  .btn-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff33;
    border-radius: 3px;
    width: 120px;
    height: 30px;
    outline: none;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin-top: 50px;
    transition: all 0.2s ease-in;
}
.btn-logout:hover{
   background-color: #fff;;
  }
  #img-foto{
   height: 90px;
   width: 90px;
    position: relative;
    margin-left: 80px;
   
  }
/* pagina graficos */
.dash {
  width: 81%;
  left: 19%;
  height: 100vh;
  position: absolute;
}
.tituloDash{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.div_graficos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  gap: 100px;
  width: 95%;
  height: 35rem;
}
.div_grafico{ 
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: 17px;
width: 557px;
height: 326px;
background-color: #e7e5e5;
border: 2px solid #000;
border-radius: 10px;
}
.graficoBar{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border: 2px solid #000;
font-size: 17px;
width: 500px;
height: 326px;
background-color: #e7e5e5;
border-radius: 10px;
}
#qtdDuvidasBaixas{
  padding: 20px;
}
.section_KPIs{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1px;
  margin-top: 25px;
}
.div_KPIs{
  display: flex;
  margin: 0;
  align-items: center;
  gap: 40px;
  
}
.div_KPI{
  width: 262px;
  height: 150px;
  border-radius: 10px;
  background-color: #e7e5e5;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div_KPI1content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 65px;
}
.spanTitulo1{
  text-align: center  ;

  margin-top: 10px;
  font-size: 18px;
  /* margin-bottom: 15px; */
}
.spanPorcentagemKPI1{
  position: relative;
  font-family: 'Poetsen One';
  font-size: 30px;
  left: 7px;
}
.divTextoKPI2{
  font-size: 18px;
  color: red;
}
.div_KPI2content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 85px;
}
.spanTitulo2{
  text-align: center  ;
  margin-top: 10px;
  font-size: 18px;

}
.spanSemDuvidaContent{
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: center;
    height: 85px;
    font-size: 35px;
  }
.divTextoKPI2{
  font-size: 18px;
  color: red;
}
.div_KPI3content{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 300px;
  height: 85px;
}
.spanTitulo3{
  text-align: center  ;
  margin-top: 10px;
  font-size: 18px;
  /* margin-bottom: 15px; */
}
.spanComDuvidaContent{
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: center;
  height: 85px;
  font-size: 35px;
}
.divTextoKPI3 span{
font-family: 'Poetsen One';
font-size: 30px;
color: #548D3D;
}
.divTextoKPI3{
  font-size: 18px;
  display: flex;
  align-items: center;
}
.divTextoKPI3 img{
  width: 90px;
  height: 90px;
}

.div_KPI4content{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 300px;
  height: 55px;
}
.spanTitulo4{
  text-align: center  ;
  height: 50px;
  margin-top: 10px;
  font-size: 18px;
  /* margin-bottom: 15px; */
}
.divTextoKPI4{
  width: 250px;
  height: 120px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
.qtdPorcentagemDuvida{
  font-size: 30px;

}
.tabelaRanking{
  text-align: center;
}
.tabela {
  position: relative;
  bottom: 7rem;
  width: 1200px;
  border-collapse: collapse;
  /* background-color: #212529; */
  color: #000; /
}


.cabecalho {
  background-color: #5589ff; 
  display: flex;
  font-weight: bold;
  
}
.corpo{
  background-color: #e7e5e5;
}
.cabecalho-item {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #424242;
  text-align: center;
}


.linha {
  display: flex;

}

.placar {
  margin: 0;
  flex: 1;
  padding: 10px;
  border: 1px solid #424242;
  text-align: center;
}

.linha:hover {
  background-color: #fca4a4;
}