@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


.window1__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7em;
  background: var(--cor-azul);
}

.TituloText {
  position: absolute;
  color: var(--cor-amarelo);
  font-size: 15em;
  font-style: italic;
}

.TituloText::after {
  content: attr(text);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  color: transparent;
  -webkit-text-stroke: 0.35vw var(--cor-amarelo);
}

.window1 img {
  width: 28.3em;
  animation: CubeAnimation 4s cubic-bezier(0.25, 1, 0.5, 1) infinite alternate;
}

@keyframes CubeAnimation {

  0%,
  20% {
    transform:
      translate(100vw, 0) rotate(110deg)
  }

  90%,
  100% {
    transform:
      translate(0.5vw, -1vw) rotate(-10deg);
  }
}

.img_separacao1 {
  display: flex;
  position: relative;
  background-image: url(../IMG/HomePage/separacao2.svg);
  width: 100%;
  height: 50px;
  transform: rotate(180deg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--cor-azul);
  z-index: 1;
  margin-bottom: 0;
}


.window2__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8em;
}

.textW2 {
  text-align: justify;
  width: 60%;
}

.textW2__titulo {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.blocos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blocos__titulo {
  margin-top: 0.5em;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}

.blocos__container {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.blocos__card {
  width: 15em;
}

.molduraImgEsq {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 2em 0;
  background-color: #ff8484;
  border-radius: 5px;
}

.molduraImgMeio {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 2em 0;
  background-color: #9bb6f6;
  border-radius: 5px;
}

.molduraImgDir {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 2em 0;
  background-color: #84ff9b;
  border-radius: 5px;
}

.blocos__card-img {
  box-sizing: border-box;
  width: 100%;
}

.imgMeio {
  width: 75%;
  padding: 2em;
}

.imgDireita {
  width: 80%;
  padding: 1.13em 0;
}

.btnComoMontar {
  padding: 0.5em 1em;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btnEsquerdo {
  background-color: var(--cor-vermelho);
  color: white;
}

.btnEsquerdo:hover {
  background-color: rgb(243, 102, 102);
  color: #000;
}

.btnMeio {
  background: var(--cor-azul);
  color: white;
}

.btnMeio:hover {
  background-color: #56b3fe;
  color: #000;
}

.btnDireito {
  background-color: var(--cor-verde);
  color: white;
}

.btnDireito:hover {
  background-color: #37ea58;
  color: #000;
}

.img_separacao2 {
  display: flex;
  background-image: url(../IMG/HomePage/separacao1.svg);
  width: 100%;
  height: 50px;
  transform: rotate(180deg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  margin-bottom: 0;
}

.window3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.window3__titulo {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1em;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cards__card {
  width: 30%;
  margin: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  text-align: justify;
  padding: 10px;
  color: #000;
}

.card1 {
  background-color: #ff5151;
}

.card2 {
  background-color: #ffb35c;
}

.card3 {
  background-color: #84ff9b;
}

.card__texto {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em 0.5em;
  padding: 3em 1em;
}

.card__texto-titulo {
  font-size: 20px;
  font-weight: 700;
}

.card__img {
  width: 30%;
}


.window4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.window4__titulo {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.window4__texto {
  width: 50%;
  text-align: center;
  margin-bottom: 1em;
}

.patterns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pattern {
  padding: 0 6px;
  float: left;
  margin: 5px;
}

.bordasCard {
  width: 15em;
  height: 17em;
  border: 2px solid var(--cor-text);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.bordasCard:hover {
  border: 2px solid #ff9e3c;
}

.textCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 1em;
  gap: 0.5em;

}

.textCard__titulo {
  font-size: 20px;
}

.bordasCard__img {
  width: 10em;
}