@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.conjunto2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.apresentacaoSobreMim {
  padding: 12em 0 0 0;
  background: url(../IMG/Fundo_1.png);
  background-size: 170rem;
}

.sobreMim {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.sobreMim-texto {
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
  background-color: #fd2828;
}

.sobreMim p {
  text-align: justify;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: 100;
  flex-direction: column;
  width: 60%;
  height: 40vh;
  font-size: 19px;
}

.sobreMim-foto {
  width: 450px;
  height: 450px;
  background-image: url(../IMG/ReLens_IMG_20240601095452.JPEG);
  background-size: cover;
  border-radius: 60%;
  margin-bottom: 100px;
  margin-left: -70px;
}
